@import url("./variables.css");

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


*:focus-visible {
    outline-color: color-mix(in srgb, var(--primary) 60%, transparent);
}

.font-jost {
    font-family: "Jost", sans-serif;
}

.font-plus-jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.text-center {
    text-align: center;
}

input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid var(--neutral-100);
    background: white;
    cursor: pointer;
}


main {
    margin-top: 20px;
}

.splash {
    max-width: 768px;
    margin: auto;
    background-color: var(--primary);
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
}

.splash__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.splash__container h1 {
    margin: 10px;
    color: var(--gray-scale);
}

.splash__container p {
    margin: 4px;
}

.splash.hide {
    opacity: 0;
    pointer-events: none;
}

#onboarding {
    display: none;
    width: 100%;
    height: 100vh;
}

.onboarding {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
    transition: .4s ease;
}

.slide {
    width: 100%;
    height: 100vh;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    text-align: center;
    background: linear-gradient(180deg,
            rgba(17, 12, 29, 0) 0%,
            rgba(17, 12, 29, 1) 76%);
    color: white;
}

.overlay p {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    color: var(--gray-scale);
    padding: 0 10px;
}

.slide button {
    margin-top: 10px;
}

button {
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 12px;
    margin: 16px 0;
    font-weight: 600;
    cursor: pointer;
}

.primary__button {
    background: var(--primary);
    color: white;
}

.outline__button {
    background: #fff;
    color: var(--neutral-950);
}

.dots {
    display: flex;
    gap: 8px;
    margin: 20px 0;
}

.dots span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .4);
}

.dots .active {
    width: 24px;
    background: var(--primary);
    border-radius: 15px;
}

.overlay__heading {
    padding: 0 20px;
}

.register_href {
    color: var(--primary);
    margin: 20px 0;
}

.section__container {
    max-width: 425px;
    margin: auto;
    padding: 24px;
    min-height: 100vh;
    padding-bottom: 60px;
}


/* sigin signup */

.back__navigate {
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.auth__header {
    text-align: center;
    margin-bottom: 40px;
}

.auth__header h3 {
    font-size: 32px;
    font-weight: 700;
    color: var(--neutral-950);
    margin-bottom: 10px;
    margin-top: 0;
}

.auth__header p {
    color: var(--neutral-700);
    font-size: 14px;
}

.input__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input__label {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 0.5%;
}

.input__container input {
    background-color: var(--bg-input);
    border-radius: 12px;
    border: none;
    padding: 20px 24px;
    margin: 10px 0;
}

.password__box {
    position: relative;
}

.password__box i {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.password__box input {
    width: 100%;
}

.password__box {
    color: var(--color-icon);
}

input:not([type="checkbox"]):focus {
    outline: none;
    border: 1px solid var(--primary);
    box-shadow: 0 0 0 3px color-mix(in srgb, var(--primary) 25%, transparent);
}

.remember__left,
.remember {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    text-transform: capitalize;
}

.remember {
    margin: 16px 0;
}

.remember__left {
    max-width: 150px;
    gap: 10px;
}

.remember__left span {
    color: var(--neutral-600);
}

.remember__checkbox {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid var(--neutral-100);
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    position: relative;
}


.remember__checkbox:checked::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 9px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -60%) rotate(45deg);
    top: 50%;
    left: 50%;
}

.remember__checkbox.checked {
    background: var(--primary);
}

.forgot__password {
    color: var(--color-alert-error);
    text-decoration: none;
}

.signup,
.resend__code {
    font-weight: 500;
    color: var(--neutral-600);
    margin: 20px 0;
}

.signup__navigate,
.resend__code__navigate {
    text-decoration: none;
    color: var(--primary);
}

.divider {
    color: var(--neutral-500);
    position: relative;
    margin-top: 10px;
}

.divider::before {
    content: "";
    width: 22%;
    height: 1px;
    background-color: var(--color-divider);
    display: block;
    position: absolute;
    top: 50%;
    left: 5%;
}

.divider::after {
    content: "";
    width: 22%;
    height: 1px;
    background-color: var(--color-divider);
    display: block;
    position: absolute;
    top: 50%;
    right: 5%;
}

.social__login {
    margin-top: 10px;
}

.social__login button {
    background-color: var(--bg-input);
    border: none;
    padding: 10px 22px;
    margin: 12px;
    border-radius: 8px;
    font-size: 24px;
    max-width: 70px;
}

.terms {
    color: var(--neutral-600);
    margin: 20px 0;
    word-spacing: 2px;
    letter-spacing: 0.5%;
    font-size: 14px;
}


.terms__navigation {
    color: var(--neutral-950);
    text-decoration: none;
}

.eye-slash-icon {
    display: none;
}

/* OTP PAGE */

.otp__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.otp__input {
    border-radius: 24px;
    background-color: var(--bg-input);
    border: none;
    font-size: 24px;
    width: 56px;
    height: 56px;
    text-align: center;
}

.modal__overlay {
    display: none;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.modal__overlay.show {
    display: flex;
}

.modal__box {
    background: white;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 40px;
    border-radius: 10px;
    position: relative;
}

.modal__box .modal__group__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.modal__box .modal__group__btn button {
    border: none;
    max-width: 200px;

}

.outline__button.disagree__btn {
    color: var(--color-alert-error);
}

.modal__icon {
    width: 68px;
    height: 68px;
    border-radius: 100%;
    font-size: 32px;
    margin-top: 20px;
}

.modal__icon.success {
    background-color: var(--color-alert-success);
    color: #fff;
}

.modal__icon__container,
.modal__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__title {
    font-size: 18px;
    margin: 8px;
}

.modal__desc {
    font-size: 14px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--neutral-800);
    font-weight: 600;
}


/* HOME PAGE */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user__header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user__header img {
    width: 48px;
    height: 48px;
}

.user__data,
.header__icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.user__data h4,
.user__data p {
    margin: 0;
}

.user__data p {
    color: var(--neutral-600);
}

.header__icons {
    flex-direction: row;
    align-items: center;
}

.header__icon {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-border-icon);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nearby__villas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary);
    margin: 20px 0;
    padding: 12px;
    gap: 20px;
    border-radius: 12px;
}

.location__icon {
    background-color: #fff;
    color: var(--primary);
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.container__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
}

.container__head h6 {
    font-size: 16px;
    margin: 10px 0;
}

.container__head a {
    text-decoration: none;
    color: var(--primary);
    font-size: 12px;
}

.popular__cards {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    scrollbar-width: none;
}

.popular__cards::-webkit-scrollbar {
    display: none;
}

.popular__card {
    min-width: 120px;
    height: 280px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    width: 200px;
    border-radius: 12px;
}

.popular__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.popular__card__detail {
    position: absolute;
    bottom: 1%;
    color: #fff;
    padding: 10px;
    width: 100%;
}

.popular__card__detail * {
    margin: 8px 0;
}

.popular__card__detail h5 {
    font-size: 16px;
}

.popular__card__detail p {
    font-size: 12px;
}

.popular__card__price p {
    font-size: 14px;
}

.popular__card__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular__card__price i,
.rec__card__rate i {
    color: var(--color-alert-warning);
}

.container {
    margin: 15px 0;
}


.rec__tab {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    -webkit-overflow-scrolling: touch;
}

.rec__tab__item {
    min-width: 150px;
    padding: 8px 12px;
    border: 1px solid var(--color-border-icon);
    border-radius: 8px;
    color: var(--neutral-600);
    text-align: center;
    margin-right: 12px;
    white-space: nowrap;
    cursor: pointer;
}

.rec__tab__item.active {
    background-color: var(--primary);
    border: none;
    color: #fff;
}

.rec__cards {
    margin: 16px 0;
}

.rec__card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 0;
    border-bottom: 1px solid var(--color-divider);
}

.rec__card__container {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    flex: 1;
}

.rec__card__container img {
    width: 96px;
    height: 96px;
    object-fit: cover;
    border-radius: 18px;
    flex-shrink: 0;
}

.rec__card__detail h5,
.best__card__detail h5 {
    margin: 0 0 8px;
    font-size: 16px;
}

.rec__card__detail .rec__card__location {
    color: var(--neutral-800);
    font-size: 12px;
}

.rec__card__detail p {
    margin: 0 0 8px;
}

.rec__card__price__detail {
    color: var(--neutral-950);
    font-size: 14px;
}

.rec__card__price {
    color: var(--primary);
    font-weight: 700;
    font-size: 16px;
}

.rec__card__rate {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
    white-space: nowrap;
    font-size: 14px;
}


.map__container iframe {
    width: 100%;
    height: 200px;
}

.best__cards {
    overflow-x: auto;
    display: flex;
    gap: 8px;
    align-items: center;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

.best__card {
    display: flex;
    gap: 16px;
    padding: 10px;
    border: 1px solid var(--color-divider);
    border-radius: 16px;
    min-width: 300px;
}

.best__card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
}

.best__card__detail {
    flex: 1;
}

.best__card__detail .location {
    margin: 0 0 16px;
    color: var(--neutral-600);
    font-size: 12px;
}

.best__card__footer {
    display: flex;
    gap: 16px;
    align-items: center;
}

.best__card__footer .rating {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
}

.best__card__footer .rating span:first-of-type,
.best__card__footer .rating i {
    color: var(--color-alert-warning);
}

.best__card__footer .rating .reviews {
    color: var(--neutral-500);
}

.price {
    display: flex;
    gap: 8px;
    align-items: center;
}

.new-price {
    font-size: 14px;
    font-weight: 700;
    color: var(--neutral-950);
}

.old-price {
    color: var(--color-alert-error);
    font-size: 12px;
    text-decoration: line-through;
}













.bottom__nav {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 430px;
    height: 72px;
    background: #fff;
    border-top: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}


.nav__item {
    text-decoration: none;
    color: #9A9A9A;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
}

.nav__item i {
    font-size: 20px;
}

.nav__item.active {
    color: var(--primary);
}